/* Home Page Setting */

body {
    background-color: white;
    font-family: 'Montserrat';
    color: #000000;
}

.logo-image {
    height: 80px;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.company-name {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
}

.company-description {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #6B7280;
}

.company-hr {
    border: 1px solid #E5E7EB;
}

.company-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 5px;
}

.company-value {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    margin-top: 5px;
}

.company-green-color {
    color: #A7E052;
}

.company-gray-color {
    color: #6B7280;
}

.company-red-color {
    color: #F87171;
}

.company-submit-button {
    background: #A7E052;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: white;
}

.footer-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #6B7280;
}

.social-media-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #6B7280;
    position: relative;
    left: 10px;
}

.social-media-text-1 {
    top: 3px;
}

.btn-donate {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #A7E052;
    margin-left: 15px;
    justify-content: center;
}

.nav-item {
    margin-left: 15px;
}

/* Submit Page Setting */

.submit-heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}

.submit-image {
    width: 100%;
}

.btn-top-margin {
    margin-top: 32%;
}

.verify-btn-top-margin {
    margin-top: 11%;

}

.custom-button {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #A7E052;
}

.text-top-margin {
    margin-top: 9%;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"] {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    background-color: #F3F4F6;
    color: #6B7280;
}

select {
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 23px !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: 0.01em !important;
    background-color: #F3F4F6 !important;
    color: #6B7280 !important;
}

select {
    background-color: #F3F4F6;
}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #374151;
}

.question-color {

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.question-color-green {
    color: #A7E052;
}

.g-recaptcha {
    /*margin-left: 25% !important;*/
    width: auto !important;
    height: auto !important;
}

.div-hidden {
    display: none;
}

#phone_no {
    padding-right: 93px;

}

#show_response_message_verify_stock {
    font-size: 20px !important;
}

#working_email {
    font-size: 24px !important;
    text-decoration: underline !important;
}

#div_phone_number_field .iti--allow-dropdown {
    width: 100% !important;
}

option {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    background-color: #F3F4F6;
    color: #6B7280;
}

.verify-input-field {
    background-color: #e5ffbd !important;
}

.heading-hr {
    background-color: #F87171;
}

.main-heading {
    color: #F87171;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 27px;
}

.card-title:hover, .href-icons:hover {
    text-decoration: none;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    color: #A7E052;
    font-size: 25px;

    cursor: pointer;
}

.accordion .card-header.collapsed:after {
    content: "\f067";
    color: #A7E052;
    font-size: 25px;

    cursor: pointer;
}

.card-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #374151;
    cursor: pointer;
}

.collapse-text {

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #6B7280;
}

.label-hide {
    visibility: hidden;
}

.g-recaptcha > div {
    text-align: center;
    width: auto !important;
    height: auto !important;
}

.active-menu {
    font-weight: 900;

}

.blink_me {
    animation: blinker 2s linear infinite;
}


@keyframes blinker {
    50% {
        opacity: .5;
    }
}

@media screen and (max-width: 767px) {
    .company-label, .company-value {
        margin-top: 25px;
    }

    .amc-company-name {
        margin-top: 40%;
    }

    #home {
        margin-bottom: 15%;
    }

    .verify-otp {
        margin-top: 5%;
    }

    #image {
        display: none;
    }

    #phone_number_send_verify_code, #email_send_verify_code {
        margin-top: 10px !important;
    }

    .g-recaptcha {
        transform: scale(0.77);
    }

    .icon-div {
        margin-top: 25px;
    }
}
